/* Global Style */
/* body{
    margin-top: 100px;
}


@media(min-width: 768px){
    body{
        margin-top: 50px;
    }
} */
#wrapper{
    padding-left: 0;
}
#page-wrapper{
    width:  100%;
    padding: 0 ;
    background-color: #F9F9F9;
}

@media(min-width: 768px){
    #wrapper{
        padding-left: 0;
    }
    #page-wrapper{
        width:  100%;
        padding: 10 ;
        background-color: #F9F9F9;
    }
   
}
.top-nav{
    padding: 0 15px;

}
.top-nav>li{
    display: inline-block;
}
.top-nav>li>a{
    padding-top: 15px;
     padding-bottom: 15px; 
    line-height: 20px;
}

.top-nav>li>a:hover
.top-nav>li>a:focus{
    color: black;
} 
  /* .side-nav{
        position: fixed;
        top: 68px;
        margin:-16px;
        width: 255px;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a{
        width: 255px;

    }
    .side-nav li a:hover
    .side-nav li a:focus{
        outline: none;
        background-color: #000;
    } */

.side-nav>li>ul{
    padding: 0;
    list-style: none;
}

.side-nav>li>ul>li>a{
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #F9F9F9;

}
/* butter */
#footer{
    background: #e0e0e0;
    padding: 20px 0;
  
}
#footer ul{
    padding-left: 0;
    list-style: none;
}
#footer ul a{
    color: #999999;
    padding: 20px 0;
}
#footer .social{
    text-align: left;
}
#footer .social a{
margin: 0 10px 0 0;
color: #fff;
display: inline-block;
width: 30px;
height: 30px;
border-radius: 15px;
line-height: 30px;
font-size: 15px;
text-align: center;
transform: all 0.2s ease-out;
vertical-align: bottom;
background-color: #555555;
}



#copyright{
    background: #333;
    color: #ccc;
    padding: 20px;
    font-size: 12px;
}
#copyright p{
    margin: 0  ;
}